<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @burger.name %> - BAOGER</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Danfo:ELSH@80&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2f2e7b2411.js" crossorigin="anonymous"></script>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
      background: url('<%= asset_path("BAOBURGER/BACKGROUNDSHOW/#{@burger.image_url}") %>') center/cover no-repeat;
      color: white;
    }

    .burger-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 85vh;
    }

    .burger-image {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5%;
    }

    .burger-image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 15px;
      width: 80%;
    }

    .content-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;
      margin-left: 8%;
      height: 85vh;
    }

    .burger-navigation {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 7%;
    }

    .burger-navigation a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }

    .burger-title img {
      width: 100%;
    }

    .burger-info {
      border-radius: 15px;
      padding: 10px;
      margin-top: 20px;
      min-height: 150px;
    }

    .tab-buttons {
      font-family: 'GomuBold';
      display: flex;
      gap: 0;
      font-size: 1.6rem;
      overflow: hidden;
      padding-bottom: 10px;
    }

    .tab-buttons button {
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      background: transparent;
    }

    .tab-buttons .active {
      color: #6623FF;
    }

    .tab-buttons:hover {
      color: #e163f2;
    }

    .info-content {
      position: relative;
      border-radius: 0 0 15px 15px;
      padding: 20px;
      min-height: 150px;
    }

    .ingredients-list,
    .allergens-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out;
    }

    .fade-in {
      opacity: 1 !important;
      visibility: visible !important;
    }

    .ingredients-list .ingredient-item,
    .allergens-list .allergen-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      text-align: center;
    }

    .ingredients-list .ingredient-item.visible,
    .allergens-list .allergen-item.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .ingredients-list .circle,
    .allergens-list .circle {
      background-color: white;
      color: black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      width: 55px;
      margin: auto;
    }

    .ingredients-list i,
    .allergens-list i {
      font-size: 22px;
    }

    .ingredient-name,
    .allergen-name {
      font-family: "Jura", sans-serif;
      margin-top: 4px;
      font-size: 14px;
      color: white;
      position: relative;
      z-index: 10;
      letter-spacing: -1px;
    }

    .back-button {
      font-size: 0.8em;
      font-family: "Jura", sans-serif;
      position: absolute;
      top: 20%;
      right: 5%;
      background-color: #DE215D;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 20px 10px 20px 10px;
    }

    .class {
      font-size: 1em;
      margin-top: 3.5em;
      font-family: "Jura", sans-serif;
      letter-spacing: 4px;
    }

    @keyframes fadeRise {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .fade-rise {
      opacity: 0;
      animation: fadeRise 1s ease-in-out forwards;
    }

    .mobile-only {
      display: none;
    }

    @media (max-width: 1023px) {
      body, html {
        background: none;
        background-color: black;
      }
            .close-container {
        display: none;
      }
      .burger-detail {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      .content-section {
        width: 90%;
        margin-left: 0;
        margin-bottom: 10%;
        text-align: center;
      }
      .burger-navigation {
        margin-top: 8%;
      }
      .burger-navigation a {
        font-size: 20px;
      }
      .burger-title img {
        width: 65%;
        margin: 0 auto;
      }
      .class {
        font-size: 0.8em;
        margin-top: 1em;
        line-height: 1em;
        padding: 0 5%;
      }
      .burger-info {
        padding: 10px;
        margin-top: 10px;
        min-height: 100px;
      }
      .tab-buttons {
        font-size: 1.5rem;
      }
      .ingredients-list, .allergens-list {
        gap: 14px;
      }
      .ingredients-list .circle,
      .allergens-list .circle {
        height: 55px;
        width: 55px;
      }
      .ingredient-name,
      .allergen-name {
        font-size: 12px;
      }
      .back-button {
        font-size: 0.6em;
        padding: 6px 12px;
        right: 20px;
        top: 13%;
      }
      .fa-lg {
        font-size: 1.5em;
      }
      .mobile-only {
        display: block;
        width: 60%;
        margin: 0 auto;
      }
      .class {
        font-size: 1em;
        margin-top: 0em;
        line-height: 1em;
        letter-spacing: 3px;
      }
      .burger-image {
        display: none;
      }
    }

    @media (max-width: 576px) {
      body, html {
        background: none;
        background-color: black;
      }
      .burger-detail {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      .content-section {
        width: 90%;
        margin-left: 0;
        margin-bottom: 10%;
        text-align: center;
      }
      .burger-navigation {
        margin-top: 8%;
      }
      .burger-navigation a {
        font-size: 20px;
      }
      .burger-title img {
        width: 75%;
        margin: 0 auto;
      }
      .class {
        font-size: 0.8em;
        margin-top: 1em;
        line-height: 1em;
        padding: 0 5%;
      }
      .burger-info {
        padding: 10px;
        margin-top: 10px;
        min-height: 100px;
      }
      .tab-buttons {
        font-size: 1.2rem;
      }
      .ingredients-list, .allergens-list {
        gap: 14px;
      }
      .ingredients-list .circle,
      .allergens-list .circle {
        height: 45px;
        width: 45px;
      }
      .ingredient-name,
      .allergen-name {
        font-size: 12px;
      }
      .back-button {
        font-size: 0.6em;
        padding: 6px 12px;
        right: 20px;
        top: 13%;
      }
      .fa-lg {
        font-size: 1.5em;
      }
      .mobile-only {
        display: block;
        width: 75%;
        margin: 0 auto;
      }
      .class {
        font-size: 0.8em;
        margin-top: 0em;
        line-height: 1em;
        letter-spacing: 3px;
      }
      .burger-image {
        display: none;
      }
    }

    @media (max-width: 375px) {
      body, html {
        background: none;
        background-color: black;
      }
      .close-container {
        display: none;
      }
      .burger-detail {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      .content-section {
        width: 90%;
        margin-left: 0;
        margin-bottom: 10%;
        text-align: center;
      }
      .burger-navigation {
        margin-top: 8%;
      }
      .burger-navigation a {
        font-size: 20px;
      }
      .burger-title img {
        width: 75%;
        margin: 0 auto;
      }
      .class {
        font-size: 0.8em;
        margin-top: 1em;
        line-height: 1em;
        padding: 0 5%;
      }
      .burger-info {
        padding: 10px;
        margin-top: 10px;
        min-height: 100px;
      }
      .tab-buttons {
        font-size: 1.2rem;
      }
      .ingredients-list, .allergens-list {
        gap: 4px;
      }
      .ingredients-list .circle,
      .allergens-list .circle {
        height: 38px;
        width: 38px;
      }
      .ingredient-name,
      .allergen-name {
        font-size: 11px;
      }
      .back-button {
        font-size: 0.6em;
        padding: 6px 12px;
        right: 20px;
        top: 13%;
      }
      .fa-lg {
        font-size: 1.5em;
      }
      .mobile-only {
        display: block;
        width: 75%;
        margin: 0 auto;
      }
      .class {
        font-size: 0.8em;
        margin-top: 0em;
        line-height: 1em;
        letter-spacing: 3px;
      }
      .burger-image {
        display: none;
      }
    }

    .close-container {
      position: absolute;
      top: 25.5%;
      right: 5%;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .leftright,
    .rightleft {
      height: 4px;
      width: 50px;
      position: absolute;
      margin-top: 24px;
      background-color:rgb(255, 255, 255);
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
    }

    .rightleft {
      transform: rotate(-45deg);
    }

    label.close {
      color: white;
      font-family: 'GomuBold';
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: 0;
      transition: all 0.3s ease-in;
      position: absolute;
      top: 60px;
      left: 5px;
    }

    .close-container:hover .leftright {
      transform: rotate(-45deg);
      background-color: #6623FF;
    }

    .close-container:hover .rightleft {
      transform: rotate(45deg);
      background-color: #6623FF;
    }

    .close-container:hover label {
      opacity: 1;
    }
  </style>
</head>
<body>
  <div class="burger-detail">
    <div class="content-section">
      <div class="burger-navigation">
        <a href="<%= previous_burger_path(id: @burger.id) %>" class="burger-prev">
          <i class="fa-solid fa-angles-left fa-lg" style="color: #ffffff;"></i>
        </a>
        <div class="burger-title">
          <%= image_tag asset_path("BAOBURGER/TITLE/#{@burger.title}"), class: "title-burger" %>
        </div>
        <a href="<%= next_burger_path(id: @burger.id) %>" class="burger-next">
          <i class="fa-solid fa-angles-right fa-lg" style="color: #ffffff;"></i>
        </a>
      </div>
      <img src="<%= @burger.image %>" alt="Image mobile" class="mobile-only">
      <h2 class="class fade-rise"><%= @burger.description_show.gsub("\n", "<br>").html_safe %></h2>

      <div class="burger-info">
        <div class="tab-buttons">
          <button class="active" onclick="showTab('ingredients')">INGRÉDIENTS</button>
          <button onclick="showTab('allergens')">ALLERGÈNES</button>
        </div>
        <div class="info-content">
          <div id="ingredients" class="ingredients-list">
            <% @burger.ingredients.each_with_index do |ingredient, index| %>
              <% parsed_ingredient = eval(ingredient) %>
              <div class="ingredient-item" style="transition-delay: <%= index * 0.2 %>s;">
                <div class="circle">
                  <i class="<%= parsed_ingredient["icon"].html_safe %>"></i>
                </div>
                <span class="ingredient-name"><%= parsed_ingredient["name"] %></span>
              </div>
            <% end %>
          </div>
          <div id="allergens" class="allergens-list">
            <% @burger.allergens.each_with_index do |allergen, index| %>
              <% parsed_allergen = eval(allergen) %>
              <div class="allergen-item" style="transition-delay: <%= index * 0.2 %>s;">
                <div class="circle">
                  <i class="<%= parsed_allergen["icon"].html_safe %>"></i>
                </div>
                <span class="allergen-name"><%= parsed_allergen["name"] %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="close-container" onclick="handleCloseClick()">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <label class="close">Retour</label>
      </div>
    </div>
    <% if @burger.display_image %>
      <div class="burger-image">
        <img src="<%= @burger.image %>" alt="<%= @burger.name %>">
      </div>
    <% end %>
  </div>

  <script>
    function handleCloseClick() {
      window.location.href = "/menu";
    }

    function showItemsGradually(items) {
      items.forEach((item, index) => {
        setTimeout(() => {
          item.classList.add('visible');
        }, index * 200);
      });
    }

    function showTab(tab) {
      const ingredientsList = document.getElementById('ingredients');
      const allergensList = document.getElementById('allergens');

      ingredientsList.classList.remove('fade-in');
      allergensList.classList.remove('fade-in');
      document.querySelectorAll('.ingredient-item').forEach(item => item.classList.remove('visible'));
      document.querySelectorAll('.allergen-item').forEach(item => item.classList.remove('visible'));

      ingredientsList.style.opacity = 0;
      ingredientsList.style.visibility = "hidden";
      allergensList.style.opacity = 0;
      allergensList.style.visibility = "hidden";

      if (tab === 'ingredients') {
        ingredientsList.classList.add('fade-in');
        ingredientsList.style.visibility = "visible";
        ingredientsList.style.opacity = 1;
        showItemsGradually(document.querySelectorAll('.ingredient-item'));
      } else {
        allergensList.classList.add('fade-in');
        allergensList.style.visibility = "visible";
        allergensList.style.opacity = 1;
        showItemsGradually(document.querySelectorAll('.allergen-item'));
      }

      document.querySelectorAll('.tab-buttons button').forEach(btn => btn.classList.remove('active'));
      document.querySelector(`.tab-buttons button[onclick="showTab('${tab}')"]`).classList.add('active');
    }

    document.addEventListener('turbo:load', () => {
      const activeTabText = document.querySelector('.tab-buttons .active')?.textContent.toLowerCase();
      if (activeTabText) {
        showTab(activeTabText === 'ingrédients' ? 'ingredients' : 'allergens');
      }
    });
  </script>
</body>
</html>
